@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ArialRoundedMTBold';
  src: url('/fonts/ArialRoundedMTBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'ArialRoundedMTBold', 'Arial', sans-serif;
}

html {
  scroll-behavior: smooth;
}